*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/.idea/workspace.xml
app/.idea/misc.xml
app/.idea/libraries/constraint_layout_1_0_0_beta4.xml
app/.idea/libraries/constraint_layout_solver_1_0_0_beta4.xml
app/.idea/markdown-navigator.xml
app/.idea/markdown-navigator/profiles_settings.xml
